<div class="container">

  <div class="flex_container">
    <div class="info">
      <div class="container_icon_text">
        <div class="img_container">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="titles_box">
          <div class="category neonText">READING</div>
          <div class="name neonText">READ 8 BOOKS</div>
          <hr>
        </div>
      </div>


      <div class="box_percent">
        <div class="percent_bar">
          <div class="completed_percent_bar"></div>
        </div>
        <div class="number_percentage neonText">20%</div>
      <i class="fas fa-dollar-sign" style="color:white"></i>
      </div>
      
    </div>

    <div class="wheel_container">
      <app-wheel></app-wheel>
    </div>
  </div>

</div>