<div class="menu">
    <div class="circle">
      <img src="habibao.jpeg" alt="Imagem inicial" id="image-center" class="center-image" style="display: none;">
      <ul class="items">
        <li>
          <div class="icon-and-text">
            <i class="fas fa-envelope"></i>
            <strong class="neonText">70%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-phone"></i>
            <strong class="neonText">70%</strong>
          </div>
        </li>
        <li>
          <div class="icon-and-text">
            <i class="fas fa-envelope-open "></i>
            <strong class="neonText">60%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-tablet"></i>
            <strong class="neonText">80%</strong>
          </div>
        </li>
        <li>
          <div class="icon-and-text">
            <i class="fas fa-bolt "></i>
            <strong class="neonText">90%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-laptop"></i>
            <strong class="neonText">50%</strong>
          </div>
        </li>
        <li>
          <div class="icon-and-text">
            <i class="fas fa-headphones"></i>
            <strong class="neonText">70%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-code"></i>
            <strong class="neonText">80%</strong>
          </div>
        </li>
        <li>
          <div class="icon-and-text">
            <i class="fas fa-camera"></i>
            <strong class="neonText">50%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-globe"></i>
            <strong class="neonText">70%</strong>
          </div>
        </li>
        <li>
          <div class="icon-and-text">
            <i class="fas fa-cloud"></i>
            <strong class="neonText">60%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-pencil-alt"></i>
            <strong class="neonText">90%</strong>
          </div>
        </li>
        <li>
          <div class="icon-and-text">
            <i class="fas fa-plane"></i>
            <strong class="neonText">80%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-lightbulb"></i>
            <strong class="neonText">70%</strong>
          </div>
        </li>
        <li>
          <div class="icon-and-text">
            <i class="fas fa-book"></i>
            <strong class="neonText">50%</strong>
          </div>
          <div class="icon-and-text">
            <i class="fas fa-shopping-cart"></i>
            <strong class="neonText">80%</strong>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
  