/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  background-color: #000;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  min-height: 100vh;


  // background-image: url('assets/teste.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;

  
}

.neonText {
  color: #F0FEFF;
  text-shadow: 
             0 0 3px #638586,
             0 0 6px #638586,
             0 0 9px #638586


}
